$v-theme-name: "project-list";

@import "vaadin-components/vaadin-theme/vaadin-theme";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
v-grid td.v-grid-cell * {
    pointer-events: none;
}
#project-list {
    width: 100%;
    height: 100%;

    .status-badge {
        background: #00b4f0;
        color: #fff;
        font-size: 80%;
        border-radius: 2px;
        display: block;
        text-align: center;
        margin-top: 9px;

        &.status-inactive {
            background: #8c8b7e;
        }
        &.status-delayed {
            background: #e61e6e;
        }
    }
    .team {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-right: 5px;
    }
    progress-bubble {
        margin-top: 5px;
        height: 27px;
        width: 27px;
        font-size: 9px;
        color: inherit;
        text-shadow: none;
        background: transparent;
    }
}
